<div class="container">
    <div id="dashboard">
        <div class="row">
            <div class="col-md-12">
                <h2>Dashboards</h2>
                <tabset justified="false">
                    <tab heading="Edit Profile">

                    	<form class="form-horizontal" ng-submit="chagePass()">>

                           	<h4>Account</h4>
                           	<div class="form-group form-inline">
                                <label class="col-sm-2 control-label">New Password</label>
                                <div class="col-sm-6">
                                    <input type="password" name="passwd" ng-model="passwd" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <label class="col-sm-2 control-label">Confirm Password</label>
                                <div class="col-sm-6">
                                    <input type="password" name="confirmpasswd" ng-model="confirmpasswd" class="form-control">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> </label>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary">Simpan</button>
                                </div>
                            </div>

                    	</form>


                    </tab>

                </tabset>
            </div>
        </div>
    </div>
</div>
